html {
    font-size: 62.5%;
}

body {
    margin: 2em;
    font-family: 'Poppins';
    background-color: rgb(182, 246, 246);
}

.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.header_container {
    background-color: white;
    padding: 2em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em; /* Added padding to align logo and nav links */
}

.logo_at_top {
    width: 25em;
    height: auto;
    margin-top: 0;
    padding-left: 2em; /* Adjust this value to match the right padding of the nav */
}

nav {
    margin: 4em;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 4.1em;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1.6rem;
    position: relative;
}

nav ul li a.active:before {
    position: absolute;
    content: "";
    width: 35%;
    height: 1px;
    border-bottom: 2px solid black;
    bottom: -6px;
}

/* Main Content */

main {
    display: flex;
    gap: 8em;
    margin-top: 11em;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: calc(100vh - 11em);
}

.left_col {
    width: 45%;
    background-color: white;
    padding: 2em;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right_col {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 0;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card {
    padding: 0; /* Remove padding */
}

.card_details {
    padding: 0; /* Remove padding */
}

h1 {
    font-size: 5.2rem;
    font-family: 'Playfair Display';
    font-weight: default;
    margin: 0;
}

.subhead {
    font-size: 1.8rem;
}

.tab_this {
    padding-left: 3.5em;
    font-size: 1.8rem;
}

.tab_this li {
    margin-bottom: 1.5em;
}

.tab_this p {
    margin-top: 0.5em;
    margin-left: 1em;
}

.gt86_1 {
    width: auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    border: 10px solid white;
}
